/* Seletores mais específicos */
/* Define o estilo genérico para os elementos body, div, p e span, garantindo que a fonte e as cores sejam aplicadas de maneira global. */
body, div, p, span {
    font-family: 'Arial', sans-serif !important;   /* Define a fonte para todos os elementos */
    background-color: #8C3B61 !important;        /* Define o fundo */
    color: #E0DFF2 !important;                   /* Define a cor do texto */
}

/* Estilos específicos para o título */
.titulo {
    color: #F2BBC5 !important;                       /* Define a cor do texto do título */
    font-family: 'Apple Chancery', cursive !important; /* Define a fonte do título */
    text-align: center !important;                     /* Centraliza o texto do título */
    font-size: 36px !important;                        /* Define o tamanho da fonte */
}

/* Estilos específicos para o bloco de pedido */
.pedido {
    background-color: #F2BBC5 !important;                  /* Define o fundo do bloco de pedido */
    border-radius: 8px !important;                           /* Adiciona bordas arredondadas de 8px ao bloco */
    padding: 15px !important;                                /* Adiciona um espaçamento interno de 15px ao bloco */
    margin-top: 20px !important;                             /* Adiciona uma margem superior de 20px ao bloco */
    box-shadow: 0px 4px 6px #732C4D !important;            /* Adiciona uma sombra suave ao bloco */
    font-family: 'Verdana', sans-serif !important;           /* Define a fonte do texto do pedido */
    color: #F2BBC5 !important;                             /* Define a cor do texto dentro do bloco */
}

/* Estilos específicos para os botões do Streamlit */
button.stButton > button {
    background-color:#E0DFF2 !important;  /* Define o fundo dos botões */
    color: #080A0D !important;            /* Define a cor do texto do botão */
    border-radius: 8px !important;          /* Adiciona bordas arredondadas de 8px aos botões */
}

/* Estilos para a barra lateral do Streamlit */
div[class^="css-1d391kg"] {
    background-color: #e0f715 !important; /* Define o fundo da barra lateral */
    color: rgb(24, 2, 39) !important;     /* Define a cor do texto na barra lateral */
}